:root {
    --color-primary: #232121;
    --color-secondary: #494948;
    --color-tertiary: #7395ae;
    --color-accent: #12172b;
    --color-accent-secondary: #938e94;

    --color-head-text: #ffffff;
    --color-body-text: #d8d8db;
    --color-sub-text: #a5a6ad;

    --color-background:#1b1b1b; 
}

/*
:root {
    --color-primary: #004882;
    --color-secondary: #254e68;
    --color-tertiary: #7395ae;
    --color-accent: #5d5c61;
    --color-accent-secondary: #938e94;

    --color-head-text: #ffffff;
    --color-body-text: #d8d8db;
    --color-sub-text: #a5a6ad;

    --color-background:#1b1b1b; 
}
*/

html{
    font-size: 62.5%;  
}

body{
    font-family: 'Heebo', sans-serif;
    color: var(--color-secondary);
    font-size: 2rem;   
}

html, body{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}



b {
    font-weight: 550;
}

p{
    margin-bottom: 0.3rem;
}

b{
    color: var(--color-primary);
}

h1,h2,h3,h6 {
    font-family: 'Old Standard TT', serif;
    
    margin-bottom: 1rem;    
    color: var(--color-primary);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 8.35rem;
}

h3 {
    font-size: 5.6rem;
}

h5 {
    font-size: 3.22rem;
}

h6 {
    font-size: 3.22rem;
    margin-bottom: 0rem;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }

html {
    scroll-behavior: smooth;
}



/* opening */

.opening-loading_text{
    font-weight: 300;
    opacity: 1;
    font-size: 2.5rem;
}

.opening-loading{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
}

.opening{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 101;
}

.opening h6{
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    margin-top: 0;  
}

.opening h2{
    color: white;
    font-weight: 300;
    margin-top: 1rem;
}

.opening-line{
    background: white;
    width: 5px;
    height: 12.2rem;
    margin-right: 3rem;
}

.opening-content{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.opening{
    display: flex;
    justify-content: center;
    align-items: center
}

/* moble notifying*/


@media screen and (min-width: 1200px) {
    .hidden_destop_view{
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .hidden_big_mobile_view{
        display: none;
    }
}

/* button */
.button :hover{
    cursor: pointer;
}

.mouse_hover_default :hover{
    cursor: default;
}


/* top section*/
.top_section{
    height: 5rem;
}


/*hero section*/

.size_container {
    /*max-width: 1200px;*/
    margin: 0 auto;
}

.hero-resume_icon{
    position: absolute;
    cursor: pointer;
    height: 11.5rem;
    top: 0;
    right: 0;
    z-index: 50;
    transition: height 0.1s ease-in;
}

.hero-resume_icon:hover{
    height: 13.2rem;
}

.resume_title{
    position: absolute;
    height: 11rem;
    top: -8rem;
    right: 17rem;
    transition: transform 0.2s ease-in;
}

.resume_degree{
    transform: rotate(45deg);
}

.resume_title{ 
    font-size: 3rem;
}

.resume_icon:hover ~ .resume_title{
    transform: translate(14rem, 14rem);
}


.corner {
    width: 20px;
    height: 20px;
}

.top_left_corner {
    grid-area: topleftcorner;
}

.top_right_corner {
    grid-area: toprightcorner;
    transform: scaleX(-1);
}

.hero_main_grid{
    display: grid;
    grid-template-rows: 20px 73rem 20px;
    grid-template-columns: 20px 90vw 20px;
    grid-template-areas: 
    "topleftcorner . toprightcorner" 
    ". maingridcenter ." 
    "buttomleftcorner maincontact buttomrightcorner";
    justify-content: center;
    align-items: flex-end;
}

.hero_second_grid{
    grid-area: maingridcenter;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "name . profile" 
    "position mouse works" 
    "else . contact";
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 7rem;
}

.hero_name{
    grid-area: name;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_name h2{
    font-size: 4.4rem;
    color: var(--color-secondary);
}

.hero_position{
    grid-area: position;
    width: 45rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.hero_position h2{
    font-weight: normal;
    text-align: center;
    color: var(--color-accent);
}

.hero_else{
    grid-area: else;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.hero_mouse{
    grid-area: mouse;
    margin-left: 3rem;
    margin-right: 3rem;
    transition: transform 0.2s ease-in;
}

.hero-mouse_img{
    background-image: url(../images/decorations/mouse.svg);
    background-repeat: no-repeat;
    width: 17rem;
    height: 17rem;
    transition: transform 0.3s ease-in, width 0.3s ease-in, height 0.3s ease-in; 
}

.hero_profile{
    grid-area: profile;
    margin-bottom: 2rem;
}

.hero_work{
    grid-area: works;
    margin-left: 14rem;
}

.hero_work h2{
    font-weight: 200;
}

.hero_work:hover ~ .hero_mouse{
    transform: rotate(40deg);
}

.hero_contact:hover ~ .hero_mouse{
    transform: rotate(80deg);
}

.hero_profile:hover  ~ .hero_mouse{
    transform: rotate(4deg);
}


.resume_icon:hover ~ .hero-mouse_img{
    transform: translate(750px, -500px);
    width: 0;
    height: 0;
}

.hero_contact{
    margin-top: 2rem;
    grid-area: contact;
    color: var(--color-secondary);
}

p {
    margin-top: 0;
}

.hero h1,h2,h3,h5 {
    margin: 0;
}

.hero h3 {
    color: var(--color-secondary);
    font-weight: normal;
}

.hero h5 {
    color: var(--color-secondary);
    font-weight: 300;
}


.small_circle {
    grid-area: mouse;
    background: url(../images/decorations/circle_small.svg);
    background-repeat: no-repeat;
    height: 28rem;
    width: 28rem;
    z-index: -99;
}

.circle_transformation{
    transition: transform 0.4s ease-in;
}
.big_circle_transformation{
    transition: transform 0.3s ease-in;
}

.hover_circle_transformation:hover ~ .circle_transformation{
    transform: scaleX(-1);
}
.hover_circle_transformation:hover ~ .big_circle_transformation{
    transform: scaleY(-0.5);
}

.circle_position{
    position: absolute;
    margin-left: 26rem;
}

.big_circle {
    grid-area: mouse;
    background: url(../images/decorations/circle_big.svg);
    background-repeat: no-repeat;
    animation-direction: reverse;
    height: 33rem;
    width: 33rem;
    z-index: -99;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    } 
}

.rotate_animation {
    animation-name: rotate;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/*
.hero_main_grid{
}
*/


.grid_background{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23938e94' fill-opacity='0.08'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.hero-swu_logo{
    transform: rotate(30deg);
    position: absolute;
    grid-area: works;
    height: 14rem;
    width: 14rem;
    z-index: 1;
    margin-left: 1550px;
    margin-bottom: 300px;
    animation: floating;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.hero-swu_logo-rotate{
    transform: rotate(4deg);
}

.hero-yfu_logo{
    transform: rotate(30deg);
    position: absolute;
    grid-area: profile;
    height: 12.9rem;
    width: 12.9rem;
    z-index: 1;
    margin-left: 750px;
    margin-bottom: 700px;
    animation: floating;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
}

.hero-yfu_logo-rotate{
    transform: rotate(-10deg);
}

.hero-meiji_logo{
    transform: rotate(30deg);
    position: absolute;
    grid-area: profile;
    height: 16rem;
    width: 16rem;
    z-index: 1;
    margin-left: -1200px;
    margin-bottom: 700px;
    animation: floating;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.hero-meiji_logo-rotate{
    transform: rotate(2deg);
}

.hero-rikyo_logo{
    transform: rotate(30deg);
    position: absolute;
    grid-area: profile;
    height: 12rem;
    width: 12rem;
    z-index: 1;
    margin-left: -400px;
    margin-bottom: 580px;
    animation: floating2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
}

.hero-rikyo_logo-rotate{
    transform: rotate(20deg);
}

.hero-swu_bas_logo{
    transform: rotate(30deg);
    position: absolute;
    grid-area: profile;
    height: 12.5rem;
    width: 12.5rem;
    z-index: 1;
    margin-left: -1550px;
    margin-bottom: +200px;
    animation: floating2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.hero-swu_bas_logo-rotate{
    transform: rotate(-9deg);
}

.hero-logo {
    opacity: 0.3;
    transition: opacity 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

.hero-logo:hover {
    opacity: 1;
    transform: scale(1.2);
}

.hero-yfu_logo:hover~ .hero_mouse{
    transform: rotate(-8deg);
    transform: scaleX(0.9);
}


.hero-meiji_logo:hover~ .hero_mouse{
    transform: rotate(-110deg);
    transform: scaleX(-1)
}

.hero-rikyo_logo:hover~ .hero_mouse{
    transform: rotate(-90deg);
    transform: scaleX(-0.9);
}

.hero-swu_bas_logo:hover~ .hero_mouse{
    transform: rotate(-125deg);
}

.hero-swu_logo:hover~ .hero_mouse{
    transform: rotate(20deg);
}

/* Hero description*/


.hero-logo-description {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    background-color:rgba(255, 255, 255, 0.97);
}

.hero-logo:hover ~ .hero-logo-description{
    opacity: 100;
}

.hero-logo:hover ~ .hero-logo-yfu_description{
    opacity: 100;
}

.hero-logo-font p {
    color:var(--color-primary);
    font-size: 1.7rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.hero-logo-font b {
    color:var(--color-secondary);
    font-size: 1.8rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.hero-paragraph_margin{
    margin-top: 2rem;
    padding: 0rem 1rem 1rem 1rem;
}



@keyframes floating {
    0% {
        transform: translate(0,  0px);
    } 
    50% {
        transform: translate(-8rem,  -2rem);
    }

    100% {
        transform: translate(0,  0px);
    } 
}

@keyframes floating2 {
    0% {
        transform: translate(0,  0px);
    } 
    50% {
        transform: translate(8rem,  2rem);
    }

    100% {
        transform: translate(0,  0px);
    } 
}

/* contact */

.contact_image_size:hover{
    opacity: 0.6;
}

.contact_image_size{
    height: 3rem;
    opacity: 0.3;
    margin-bottom: 0;
}

.email_image{
    background: url(../images/decorations/email.svg);
    background-repeat: repeat-x;
    background-position-x: 0;
    background-color: white;
}

.tel_image{
    background: url(../images/decorations/tel.svg);
    background-repeat: repeat-x;
    background-position-x: 0;
    background-color: white;
}

.tel_image2{
    background: url(../images/decorations/tel.svg);
    background-repeat: repeat-x;
    background-position-x: 0;
    background-color: white;
}

.line_image{
    background: url(../images/decorations/line.svg);
    background-repeat: repeat-x;
    background-position-x: 0;
    background-color: white;
}

.contact_height{
    height: 30px;
}

.contact_padding{
    height: 12.7rem;
}

.buttom_shadow{
    border-bottom: 3px solid #f4f3f4;
    box-shadow: 0px 16px 69px -24px #f4f3f4;
    -webkit-box-shadow: 0px 16px 69px -24px #f4f3f4;
    -moz-box-shadow: 0px 16px 69px -24px #f4f3f4;
}

/* Hover highlight effect*/


.hover_highlight_effect{
    background-image: linear-gradient(to right, rgba(185, 21, 21, 0) 50%, #232121 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    line-height: 1.15em;
    transition: background-position 0.2s ease-out;
  }
  .hover_highlight_effect:hover {
    background-position: -99.99% 0;
    color: gray;
    opacity: 0.9;
  }

/* Section Circle */
.section-circle{
    position: relative;
    pointer-events: none
}

.section_big_cirle_crop{
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0; 
    right: 0;
    top: -25rem;
    opacity: 0.8;
    height: 50rem;
    width: 50rem;
}

.section_big_circle_image{
    height: 50rem;
    width: 50rem;
}

.section_small_cirle_crop{
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0; 
    right: 0;
    top: -16.5rem;
    opacity: 0.7;
    height: 33rem;
    width: 33rem;
}

.section_small_circle_image{
    height: 33rem;
    width: 33rem;
}

/* Section Transition */
.section-transition {
    height: 37rem;
}

.section-transition2 {
    height: 32rem;
}

.section-transition3 {
    height: 5rem;
}

.section-transition4 {
    height: 7rem;
}

/*Profiles Section*/
.dot_background{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 4 4'%3E%3Cpath fill='%23f4f3f4' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.width_container_white {
    width: 90vw;
    max-width: 122rem;
    margin: 0 auto;
    background-color: white;
}

.width_container {
    width: 90vw;
    max-width: 135rem;
    margin: 0 auto;
}

.width_container_wide {
    width: 90vw;
    max-width: 129rem;
    margin: 0 auto;
}

.profile-head_grid {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "profilehead profileheaddetail profileheaddetail"
    "line line line"
    "profilelanguage . ."
    "profilethai profileenglish ."
    "profileeducation . ."
    "education1 education2 education3";
    align-items: flex-end;
}

.profile-head {
    grid-area: profilehead;
}

/* profile head effect */




.head_glitch_effect {
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    animation-duration: 0.05s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
  }

  .head_glitch_effect2 {
    text-shadow: 0.02rem 0 0.02rem #ea36af, -0.035rem 0 0.02rem #75fa69;
    animation-duration: 0.06s;
    animation-name: textflicker2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textflicker2 {
    from {
      text-shadow: 0.3px 0 0 #ea36af, -0.55px 0 0 #75fa69;
    }
    to {
      text-shadow: 0.55px 0.17px 0.55px #ea36af, -0.255px -0.175px 0.55px #75fa69;
    }
  }






.profile-line{
    grid-area: line;
    background-color: var(--color-accent-secondary);
    opacity: 0.4;
    height: 4px;
    width: 120rem;
}

.profile-language {
    grid-area: profilelanguage;
}

.profile-detail {
    grid-area: profileheaddetail;
    margin-left: 4rem;
}

.profile-language_thai {
    grid-area: profilethai;
}

.profile-language_english {
    grid-area: profileenglish;
}

.profile-education {
    grid-area: profileeducation;
}

.profile-education1{
    grid-area: education1;
}

.profile-education2{
    grid-area: education2;
}

.profile-education3{
    grid-area: education3;
}


.top_margin1 {
    margin-top: 1rem;
}

.top_margin2{
    margin-top: 2rem
}

.top_margin3{
    margin-top: 3rem;
}

.top_margin5{
    margin-top: 5rem;
}

.buttom_margin2 {
    margin-bottom: 2rem;
}

.tech_skill_grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "techskillhead techskillhead techskillhead" 
    "proficient workable useable"
    "proficientlogo workablelogo useablelogo";
    margin-top: 3rem;
}

.tech_head{
    grid-area: techskillhead;
}

.tech-proficient{
    grid-area: proficient;
}

.tech-workable{
    grid-area: workable;
}

.tech-use{
    grid-area: useable;
}

.proficient_logoes{
    grid-area: proficientlogo;
}

.workable_logoes{
    grid-area: workablelogo;
}

.useable_logoes{
    grid-area: useablelogo;
}

.program_logo p {
    font-size: 1.4rem;
}

.program_logo_size{
    height: 7rem;
    width: 7rem;
}

.logo_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo_margin{
    margin-right: 4rem;
    margin-bottom: 2rem;
    margin-top: 0rem;
}

/*certificate + language hover*/

.flex_row{
    display: flex;
    flex-direction: row;
    display: relative;
}

.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center
}


.language_description{
    position: absolute;
    margin-left: 38rem;
    font-size: 1.7rem;
    margin-top: -4rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    background-color: white;
    padding: 0rem 1rem 1rem 1rem;
    transition: transform 0.2s ease-in;
    transform: scale(0.8);
}

.toeic_certificate_img{
    width: 27rem;
}

.language_hover{
    transition: transform 0.15s ease-in;
}

.language_hover:hover{
    transform: scale(1.05);
    color: black;
}

.language_hover:hover ~ .language_description{
    opacity: 1;
    z-index: 3;
    transform: scale(1);
}

.logo_description_container{
    opacity: 0;
    margin-left: 9rem;
    background-color: white;
    position: absolute;
    transition: opacity 0.1s ease-in;
    z-index: 0;
    padding: 1rem 1rem 1rem 1rem;
    
}

.education-certificate_images{
    position: absolute;
    padding: 1.5rem 1.5rem;
    background-color: white;
    opacity: 0;
    z-index: -99;
    transition: opacity 0.3s ease-in;
    transform: scale(0.9);
    transition: transform 0.1s ease-in;
}


.education_container-detail{
    transition: transform 0.1s ease-in;
}

.education_container-detail:hover{
    transform: scale(1.05);
    color: black;
}

.education_container-detail:hover ~ .education-certificate_images{
    transform: scale(1);
    opacity: 1;
    z-index: 3;
}

.certificate_size_position1{
    width: 20rem;
    margin-left:25rem;
    margin-top:-10rem;
}

.certificate_size_position2{
    width: 20rem;
    margin-left:38rem;
    margin-top:-10rem;
}

.certificate_size_position3{
    width: 25rem;
    margin-left:34rem;
    margin-top:-5rem;
}


.logo_description_container p{
    font-size: 1.7rem;
    margin-bottom: 0rem;
}

.logo_description_container b{
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0rem;
}

.tech_logo:hover ~ .logo_description_container{
    opacity: 0.97;
    z-index: 3;
    
}

.tech_logo{
    transition: transform 0.1s ease-in;
}
.tech_logo:hover{
    transform: scale(1.2);
}


/* Works */


::-webkit-scrollbar {
    display:none;
}


/* Section clock */
.section-clock{
    position: relative;
    pointer-events: none
}

.section_clock_crop{
    clip-path: polygon(0 87%, 100% 87%, 100% 100%, 0% 100%);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0; 
    right: 0;
    top: -65.4rem;
    opacity: 0.7;
    height: 75rem;
    width: 75rem;
}

.section_clock_image{
    height: 75rem;
    width: 75rem;
    z-index: 0;  
}

.section_ฺbig_clock_hand_crop{
    clip-path: polygon(0 82.1%, 100% 82.1%, 100% 100%, 0% 100%);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0; 
    right: 0;
    top: -67.5rem;
    opacity: 1;
    height: 82rem;
    width: 82rem;
}

.section_ฺbig_clock_hand_image{
    height: 82rem;
    width: 82rem;
    z-index: 2;   
}

.section_ฺsmall_clock_hand_crop{
    clip-path: polygon(0 89.2%, 100% 89.2%, 100% 100%, 0% 100%);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0; 
    right: 0;
    top: -805rem;
    opacity: 0.8;
    height: 90rem;
    width: 90rem;
}

.section_ฺsmall_clock_hand_image{
    height: 90rem;
    width: 90rem;
    z-index: 1;   
}

/* work section */

.work-heading_grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.work-head{
    margin-right: 5rem;
}

.work-line{
    background-color: white;
    opacity: 0.8;
    height: 2.5px;
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
}

.work-head_details{
    margin-top: 1.5rem;
    
}

.black_background{
    background-color: var(--color-background)
}

.black_background p {
    color: white;
    opacity: 0.9;
}

.black_background h6 {
    color: white;
    opacity: 0.9;
}

.black_background h2 {
    color: white;
    opacity: 0.8;
}


.work_description{
    grid-area: "imagediscription";
    height: 50rem;
    margin-bottom: 17rem;
    margin-top: 12rem;
}

.work1_description{
    grid-area: "imagediscription";
    height: 50rem;
    margin-bottom: 17rem;
    margin-top: 12rem;
}

.project_description{
    grid-area: "imagediscription";
    height: 50rem;
    margin-bottom: 17rem;
    margin-top: 12rem;
}

.work_display_head{
    font-weight: 100;
    width: 25.5rem;
}


.work_topic{
    opacity: 0.8;
    font-weight: 300;
    margin-top: 2rem;
}

.work_description_body{
    margin-top: 2rem;
}

.work-description_line{
    background-color: white;
    width: 4px;
    margin-top: 1.5rem;
    margin-right: 3rem;
    margin-left: 0.7rem;
    opacity: 0.9;
}

.line_height1{
    height: 32rem;
}

.line_height2{
    height: 37rem;
}

.line_height3{
    height: 39rem;
}

.line_height4{
    height: 35rem;
}

.line_height5{
    height: 30rem;
}

.work-content{
    display: flex;
    flex-direction: row;
}

.work_grid{
    display: grid;
    grid-template-columns: 25% 70% 2rem;
    grid-template-areas: 
    "imagediscription image imagedecoration";
    justify-items: center;
    align-items: center;
}

.project_grid{
    display: grid;
    grid-template-columns: 2rem 70% 25%;
    grid-template-areas: 
    "imagedecoration image imagediscription";
    justify-items: center;
    align-items: center;
}

.work_border_line{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.work_border_line1{
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.work_image_container{
    grid-area: "image";
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.work_image_decoration{
    grid-area: "imagedecoration";
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.work_image_decoration p { 
    writing-mode: tb-rl ;
    margin: 0 0 0 0;
    font-weight: 100;
}


.work_image_square{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 2rem;
    margin-left: 5px;
    background-color: white;
    opacity: 0.8;
}


.chain_icon{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 2rem;
    margin-left: 0px;
    opacity: 0.7;
}


.flashing_ani{
    transition: opacity ease-in;
    animation-name: flashing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flashing {
    0%  {opacity: 0.3;}
    50% {opacity: 0.9;}
    100% {opacity: 0.3;}
}


.text_flip{
    transform: scale(-1, 1)
}

.div_flip{
    transform: rotateX(180deg)
}

.work_image{
    position: absolute;
    z-index: 1;
}

.work_image_decoration1_margin{
    margin-top: 25rem;
}

.work_image_decoration2_margin{
    margin-top: 34rem;
}

.work_image_decoration3_margin{
    margin-top: 18rem;
}

.work1_image_position{
    top: -16rem;
}

.work1_image_scale{
    width: 37vw;
    max-width: 55rem;
}

.work2_image_position{
    top: -14rem;
}

.work3_image_scale{
    width: 42vw;
    max-width: 75rem; 
}

.project1_image_scale{
    height: 35vw;
    width: 40vw;
    max-height: 55rem;
    max-width: 60rem; 
}

.project2_image_scale{
    height: 27vw;
    width: 35vw;
    max-height: 45rem;
    max-width: 62rem; 
}

.project3_image_scale{
    height: 20vw;
    width: 37vw;
    max-height: 36rem;
    max-width: 70rem; 
}

.project1_image_position{
    right: -16rem;
    top: -14rem;
}

.project2_image_position{
    right: -12rem;
    top: -8rem;
}


.project3_image_position{
    right: -17rem;
    top: -4rem;
}


.work1_image_background{
    width: 50vw;
    height: 20vw;
    max-width: 70rem;
    max-height: 26rem;
    opacity: 0.8;
}

.work2_image_background{
    width: 50vw;
    height: 16vw;
    max-width: 70rem;
    max-height: 22rem;  
    opacity: 0.8;
}

.work3_image_background{
    width: 30vw;
    height: 30vw;
    margin-left: 1rem;
    max-width: 30rem;
    max-height: 30rem;
    opacity: 0.7;
}

.work_hover_ani{
    transition: transform 0.2s ease-in;
}

.work_hover_ani:hover{
    transform: scale(1.05);
}


/* project transition */
.personal_project_transition{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.personal_project_transition h2{
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    color: white;
    margin-bottom: 1rem;
    font-size: 9rem;
}
.personal_head h2{
    height: 10rem;
    width: 100vw;
    overflow: hidden;
    font-weight: 400;
}

.personal_head{
    height: 10rem;
    width: 100vw;
    overflow: hidden;
    opacity: 0.25;
}

.project_head{
    height: 10rem;
    width: 100vw;
    overflow: hidden;
    opacity: 0.3;
}

.custom_ani{
    background-color: var(--color-background);
    background-clip: content-box;
}

.custom_head_ani{
    background-clip: content-box;
}

/*final section*/
.final_gear_crop{
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}


.final-door_conatiner{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1px;
    pointer-events: none
}

.left_gear_img {
    width: 12rem;
    opacity: 0.9;
}

.left_gear_position{    
    top: -6.2rem;
    position: absolute;
    left: -28rem;
}

.right_gear_img {
    width: 12rem;
    opacity: 0.9;
}

.right_gear_position{
    top: -6.2rem;
    position: absolute;
    right: -28rem;
}

.small_left_gear_img{
    width: 6rem;
}

.small_left_gear_position{
    top: -3.4rem;
    position: absolute;
    left: -20rem;
}

.small_right_gear_img{
    width: 6rem;
}

.final_circle_img{
    width: 30rem;
}


.final_circle_position{
    top: -15.3rem;
    position: absolute;
    left: -16rem;
    z-index: 0;
}

.small_right_gear_position{
    top: -3.4rem;
    position: absolute;
    right: -20rem;
}


.final-door_crop{
    clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
}

.left_door_img {
    width: 30rem;
    opacity: 0.8;
}

.left_door_position{
    top: -24.4rem;
    position: absolute;
    left: -3rem;
}

.right_door_img {
    width: 30rem;
    opacity: 0.8;
}


.right_door_position{
    top: -24.4rem;
    position: absolute;
    right: -3rem;
}

/*final plane animation*/

.final-plane1{
    left: -5rem;
    width: 5rem;
    position: absolute;
    opacity: 0.5;
}

.final-plane2{
    right: -10rem;
    width: 9rem;
    position: absolute;
    opacity: 0.5;
}

/*reference*/
.reference_container{
    margin: 0 auto;
}

.z_index_10{
    z-index: 10;
}

.reference_name_details{
    margin-top: 0.5rem;
}

.reference_container h6{
    margin-top: 1rem;
}

.reference_img{
    width: 12rem;
    z-index: 10;
}

.reference_email{
    font-weight: 0;
}

.reference_imge_deoration_position{
    position: absolute;
    margin-top: 5rem;
}

.reference_img_decoration{
    width: 16rem;
}

.final_section h3{
    color: white;
    font-weight: 300;
}

.final_section p{
    color: white;
    font-weight: 300;
}

.final_section-heading{
    z-index: 5;
}

.fianl_transition_1{
    height: 80rem;
}

.fianl_transition_2 {
    height: 32rem;
}

.final_section-letter_container{
    position: relative;
}

.paper{
    position: absolute;
    width: 6.5rem;
    z-index: 2;
}

.envolop_body{
    position: relative;
    width: 6.5rem;
    z-index: 3;
}

.envolop_head{
    position: absolute;
    width: 6.5rem;
    z-index: 1;
}

.footer-arrow{
    margin-top: 1.2rem;
    width: 4rem;
}

.final_section-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-decoration_line{
    background-color: white;
    height: 0.7px;
    width: 100%;
    opacity: 0.5;
}

.footer_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_logo{
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.5rem;
}

.footer_tel{
    margin-right: 8rem;
}

.footer_address{
    margin-right: 8rem;
}

.footer_container p{
    margin-top: 1.2rem;
    margin-bottom: 1.7rem;
    opacity: 0.8;
    font-size: 1.7rem;
    display: flex;
}

.footer-hover_ani{
    transition: transform 0.1s ease-in
}

.footer-hover_ani:hover{
    transform: translate(0,  -5px);
}

@media screen and (max-width: 1400px) {
    html{
        font-size: 55%;  
    }

    .section-transition2 {
        height: 40rem;
    }

    .project_description {
        margin-bottom: 27rem;
        margin-top: 22rem;
    }

    .work_description {
        margin-bottom: 27rem;
        margin-top: 22rem;
    }
}


@media screen and (max-width: 1200px) {
    .hidden_mobile_view{
        display: none;
    }
    html{
        font-size: 52%;  
    }

    .width_container_white {
        max-width: 90vw;
    }

    .width_container {
        max-width: 90vw;
    }
    
    .width_container_wide {
        max-width: 90vw;
    }

    /* Section Transition 1200px */
    .section-transition {
        height: 37rem;
    }

    .section-transition2 {
        height: 32rem;
    }

    .section-transition3 {
        height: 5rem;
    }

    .section-transition4 {
        height: 0rem;
    }

    /* moble notifying 1200px*/
    .device_notifying{
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-secondary);
        z-index: 90;
    }

    .device_notifying_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .device_notifying b{
        margin-top: 0rem;
        color: var(--color-head-text);
        text-align: center;
        opacity: 0.9;
    }

    .device_notifying p{
        margin-top: 0rem;
        color: var(--color-body-text);
        text-align: center;
    }

    /* mobile btn 1200px*/
    .mobile_contact_btn_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mobile_btn{
        border: 1px solid white;
        padding: 1rem 2rem;
        background-color: var(--color-primary);
        border-radius: 5px;
        opacity: 0.9;
    }

    .mobile_contact_btn{
        margin-right: 7rem;
    }

    .mobile_contact_btn_container h3{
        color: white;
        font-size: 5rem;
    }

    .contact_padding{
        height: 17rem;
    }

    /*hero 1200px*/
    .hero_main_grid{
        display: grid;
        grid-template-rows: 20px 60rem 20px;
    }

    .hero_second_grid{
        grid-area: maingridcenter;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto 0px 0px;
        grid-template-areas: 
        "name . profile" 
        "position mouse works" 
        "else . contact";
    }

    .hero-swu_logo{
        margin-left: 800px;
        margin-bottom: 300px;
    }
    
    .hero-yfu_logo{
        margin-left: 400px;
        margin-bottom: 600px;
    }

    .hero-rikyo_logo{
        margin-left: -200px;
        margin-bottom: 480px;
    }

    .hero-meiji_logo{
        margin-left: -600px;
        margin-bottom: 500px;
    }

    .hero-swu_bas_logo{
        margin-left: -700px;
        margin-bottom: 100px;
    }

    .hero_profile{
        display: none;
    }

    .hero_work{
        display: none;
    }

    .hero_contact{
        display: none;
    }

    .hero_mouse{
        display: none;
    }

    .hero_mouse{
        width: 0;
        height: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .small_circle{
        display: none;
    }

    .big_circle{
        display: none;
    }

    .contact{
        display: none;
    }

    .hero_second_grid{
        margin-bottom: 3rem;
    }

    /*profile 1200px*/

    .profile-line{
        width: 90vw;
    }

    .profile-detail{
        display: none;
    }

    .language_description{
        display: none;
    }

    .education-certificate_images{
        display: none;
    }

    /*work 1200px*/
    .work1_description{
        margin-top: 0rem;
    }

    .work-head_details{
        display: none;
    }

    .work-line{
        display: none;
    }

    .work1_image_background{
        opacity: 0;
    }

    .work2_image_background{
        opacity: 0;
    }

    .work3_image_background{
        opacity: 0;
    }

    .work_grid{
        grid-template-columns: 30% 60% 2rem;
    }

    .project_grid{
        grid-template-columns: 2rem 60% 30%;
    }

    .work1_image_position{
        top: -29rem;
    }

    .work2_image_position{
        top: -32rem;
    }

    .work3_image_position{
        top: -24rem;
    }

    .project1_image_position{
        right: -7rem;
        top: -6rem;
    }
    
    .project2_image_position{
        right: -5rem;
        top: 0rem;
    }

    .project3_image_position{
        right: -5rem;
        top: 0rem;
    }

    /*final section 1200px*/
    .fianl_transition_1{
        height: 50rem;
    }
    
    .fianl_transition_2 {
        height: 40rem;
    }

    .paper{
        width: 0;
        height: 0;
    }
}

/*ipad pro*/
@media screen and (max-width: 1024px){
    .hero_main_grid{
        display: grid;
        grid-template-rows: 20px 70rem 20px;
    }

    .hero-swu_logo{
        margin-left: 800px;
        margin-bottom: 300px;
    }
    
    .hero-yfu_logo{
        margin-left: 400px;
        margin-bottom: 700px;
    }

    .hero-rikyo_logo{
        margin-left: -200px;
        margin-bottom: 520px;
    }

    .hero-meiji_logo{
        margin-left: -600px;
        margin-bottom: 650px;
    }

    .hero-swu_bas_logo{
        margin-left: -750px;
        margin-bottom: 300px;
    }

    .contact_padding {
        height: 40rem;
    }

    .section-transition2 {
        height: 40rem;
    }

    .fianl_transition_1 {
        height: 40rem;
    }

    .fianl_transition_2 {
        height: 30rem;
    }
}

@media screen and (max-width: 800px) {
    html{
        font-size: 50%;  
    }

    /*work 800px*/
    .work_grid{
        grid-template-columns: 35% 55% 2rem;
    }

    .project_grid{
        grid-template-columns: 2rem 55% 35%;
    }

    .project1_image_position{
        right: -4rem;
        top: -6rem;
    }
    
    .project2_image_position{
        right: -3rem;
        top: 0rem;
    }

    .project3_image_position{
        right: -3rem;
        top: 0rem;
    }

}

/*ipad*/
@media screen and (max-width: 768px){
    .hero_main_grid{
        display: grid;
        grid-template-rows: 20px 70rem 20px;
    }

    .hero-swu_logo{
        margin-left: 600px;
        margin-bottom: 400px;
    }
    
    .hero-yfu_logo{
        margin-left: 300px;
        margin-bottom: 700px;
    }

    .hero-rikyo_logo{
        margin-left: -120px;
        margin-bottom: 520px;
    }

    .hero-meiji_logo{
        margin-left: -500px;
        margin-bottom: 600px;
    }

    .hero-swu_bas_logo{
        margin-left: -750px;
        margin-bottom: 300px;
    }

    .contact_padding {
        height: 17em;
    }

    .section-transition2 {
        height: 40rem;
    }

    .fianl_transition_1 {
        height: 48rem;
    }

    .fianl_transition_2 {
        height: 49rem;
    }
}



@media screen and (max-width: 600px) {
    html{
        font-size: 45%;  
    }

    .section-transition2{
        height: 45rem;
    }

     /*work 600px*/
     .work_grid{
        grid-template-columns: 50% 50% 2rem;
    }

    .project_grid{
        grid-template-columns: 2rem 50% 50%;
    }

    .work1_image_position{
        top: -20rem;
    }

    .work2_image_position{
        top: -32rem;
    }

    .project1_image_position{
        right: -3rem;
        top: -6rem;
    }
    
    .project2_image_position{
        right: -1rem;
        top: 0rem;
    }

    .project3_image_position{
        right: -2rem;
        top: 0rem;
    }
}

/*big mobile*/
@media screen and (max-width: 500px){
    .hero_main_grid{
        display: grid;
        grid-template-rows: 20px 62rem 20px;
    }

    .hero-logo{
        transform: scale(0.9);
    }

    .hero-swu_bas_logo{
        display: none;
    }

    .hero-rikyo_logo{
        display: none;
    }

    .hero-swu_logo{
        margin-left: 350px;
        margin-bottom: 420px;
    }
    
    .hero-yfu_logo{
        margin-left: 20px;
        margin-bottom: 520px;
    }

    .hero-meiji_logo{
        margin-left: -250px;
        margin-bottom: 400px;
    }

    .contact_padding {
        height: 10em;
    }

    .section-transition2 {
        height: 40rem;
    }

    .fianl_transition_1 {
        height: 42rem;
    }

    .fianl_transition_2 {
        height: 40rem;
    }
}


@media screen and (max-width: 500px) {
    html{
        font-size: 45%;  
    }

    .hidden_small_mobile_view{
        display: none;
    }

    .opening-content{
        scale: 0.7;
    }

    /* mobile btn 500px*/
    .mobile_contact_btn_container{
        align-items: center;
        flex-direction: column;
        z-index: 99;
    }

    .mobile_contact_btn{
        margin-right: 0rem;
    }

    .mobile_resume_btn{
        margin-top: 3rem;
    }

    
    /*profile 500px*/
    .mobile_hero_name{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_hero_name h2{
        font-weight: 100;
    }


    .profile-head_grid {
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "profilehead"
        "line"
        "profilelanguage"
        "profilethai"
        "profileenglish"
        "profileeducation"
        "education1"
        "education2"
        "education3";
        align-items: flex-end;
    }

    .tech_skill_grid {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
        " 1 1 1"
        "proficient workable useable"
        "proficientlogo workablelogo useablelogo";  
        margin-top: 0;
    }


    .tech_head{
        display: none;
    }

    .profile-topic_small_mobile{
        margin-top: 3rem;
    }
    
    /* Section clock 500px */

    .section_clock_crop{
        top: -47.2rem;
        height: 54rem;
        width: 54rem;
    }

    .section_clock_image{
        height: 54rem;
        width: 54rem; 
    }

    .section_ฺbig_clock_hand_crop{
        left: 0; 
        right: 0;
        top: -48.6rem;
        height: 59.04rem;
        width: 59.04rem;
    }

    .section_ฺbig_clock_hand_image{
        height: 59.04rem;
        width: 59.04rem;
    }

    .section_ฺsmall_clock_hand_crop{
        left: 0; 
        right: 0;
        top: -579.6rem;
        height: 64.8rem;
        width: 64.8rem;
    }

    .section_ฺsmall_clock_hand_image{
        height: 64.8rem;
        width: 64.8rem;   
    }

    /*work 500px*/
    .work_grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "imagediscription"
        "image"
        "imagedecoration";
        justify-items: center;
        align-items: center;
        margin: 0 auto;
    }

    .project_grid{
        display: flex;
        flex-direction: row-reverse;
    }
    
    .project1_image_scale{
        height: 65vw;
        width: 75vw;
    }

    .project2_image_scale{
        height: 50vw;
        width: 70vw;
    }

    .project3_image_scale{
        height: 40vw;
        width: 75vw;
    }

    .project1_image_position{
        right: 2vw;
        margin-top: 18rem;
    }
    
    .project2_image_position{
        right: 5vw;
        margin-top: 20rem;
    }
    
    .project3_image_position{
        right: 3vw;
        margin-top: 16rem;
    }

    .work_image_decoration1_margin{
        margin-top: -25rem;
    }
    
    .work_image_decoration3_margin{
        margin-top: -25rem;
    }

    .work_image_container{
        width: 5rem;
    }

    .work_image_decoration_mobile_hidden{
        display: none;
    }

    .work1_image_scale{
        width: 50vw;
    }
    
    .work3_image_scale{
        width: 70vw;
    }

    .work1_image_position{
        top: -35rem;
    }

    .work2_image_position{
        top: -43rem;
    }

    .work3_image_position{
        top: -37rem;
    }

    .project_description{
        grid-area: "imagediscription";
        height: 50rem;
        margin-bottom: 50rem;
        margin-top: 10rem;
    }

    .line_height1{
        height: 28rem;
    }
    
    .line_height2{
        height: 30rem;
    }
    
    .line_height3{
        height: 30rem;
    }

    .line_height4{
        height: 30rem;
    }
    
    .line_height5{
        height: 25.5rem;
    }

    /* footer 500px*/
    .footer_logo_address{
        display: none;
    }

    .footer_container .footer_address{
        display: none;
    }
}

/*iphonex mobile*/
@media screen and (max-width: 375px){
    .hero_main_grid{
        grid-template-rows: 20px 65rem 20px;
    }

    .hero-meiji_logo{
        margin-left: -230px;
        margin-bottom: 430px;
    }

    .hero-yfu_logo{
        margin-left: 20px;
        margin-bottom: 560px;
    }
    
    .hero-swu_logo{
        margin-left: 300px;
        margin-bottom: 430px;
    }

    .contact_padding {
        height: 20rem;
    }

    .section-transition2{
        height: 35rem;
    }

    .work1_image_position{
        top: -44rem;
    }

    .work2_image_position{
        top: -50rem;
    }

    .work3_image_position{
        top: -40rem;
    }

    @keyframes floating {
        0% {
            transform: translate(0,  0px);
        } 
        50% {
            transform: translate(-4rem,  -2rem);
        }
    
        100% {
            transform: translate(0,  0px);
        } 
    }
    
    @keyframes floating2 {
        0% {
            transform: translate(0,  0px);
        } 
        50% {
            transform: translate(4rem,  2rem);
        }
    
        100% {
            transform: translate(0,  0px);
        } 
    }
} 


/*iphone6 mobile*/
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 667px) {
    .hero-logo{
        transform: scale(0.7);
    }

    .hero_main_grid{
        grid-template-rows: 20px 50rem 20px;
    }

    .fianl_transition_1 {
        height: 35rem;
    }

    .fianl_transition_2 {
        height: 30rem;
    }

    .hero-meiji_logo{
        margin-left: -300px;
        margin-bottom: 320px;
    }

    .hero-yfu_logo{
        margin-left: 20px;
        margin-bottom: 400px;
    }
    
    .hero-swu_logo{
        margin-left: 350px;
        margin-bottom: 320px;
    }
}
